@import "../../styles/vars.scss";

.doctorsPage {
    margin-bottom: 80px;
}


@media screen and (max-width: $breakPointMobile) {
    .doctorsPage {
        margin-bottom: 6vw;
        .intro {
            margin-bottom: 24px;
        }
    }
}
